<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Employee Portal</title>
		<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	</head>
	<body>
		
		<div th:replace="~{fragments/databaseheader :: databaseheader}"></div>
		
		<div align="Center">
		<h1><img alt="Employee portal" title="employee portal" th:src="@{/images/employeeportal.jpg}" width="200" height="120"/>
	</div>	
		
		<main role="main" class="flex-shrink-0">
			<div class="container mt-5">
				<div class="jumbotron">
					


		<a href="/addconsultant" class="btn btn-primary mb-3">Add New Consultant</a>

		
<p th:text="${succMsg}" style="color: forestgreen;"></p>
		<p th:text="${errMsg}"></p>

		<form th:action="@{/addconsultant}" th:object="${cons}" method="post">

			<table>
				
						
				<tr>
					<td>Consultant Name :</td>
					<td> <input type="text" th:field="*{consName}" /> </td>
				</tr>
				<tr>
					<td>Consultant Email :</td>
					<td> <input type="text" th:field="*{consEmail}" required/> </td>
				</tr>
				
				<tr>
					<td>Consultant Contact :</td>
					<td> <input type="text" th:field="*{consPhoneNumber}" required/> </td>
				</tr>
				<tr>
					<td>Consultant Visa :</td>
					<td> <input type="text" th:field="*{consVisa}" /> </td>
				</tr>
				
				<tr>
					<td>Technology :</td>
					<td> <input type="text" th:field="*{consTechnology}" /> </td>
				</tr>
				
				<tr>
					<td>Location :</td>
					<td> <input type="text" th:field="*{consLocation}" /> </td>
				</tr>
				
				<tr>
					<td>Status :</td>
					<td> <input type="text" th:field="*{consStatus}" /> </td>
				</tr>
				
				
				<tr>
					<td></td>
					<td> <input type="submit" value="Save" class="btn btn-primary"/> </td>
				</tr>

			</table>
		</form>
		
		
		
		

	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>



				</div>
			</div>
		</main>
		
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
		crossorigin="anonymous">
		</script>
		<script>
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
		</script>
		
		<div th:replace="~{fragments/footer :: footer}"></div>
	</body>
	
	
</html>
